<% if not logged_in?  %>
<div class="clearform">
	<div class="input">
		<h1>Tell us:</h1>
	</div>
</div>
<% end %>

<%= form_tag questions_path, :id => "question" do %>
<div class="clearform">
	<%= label_tag :name, "Event: " %>
	<div class="input">
		<%= text_field_tag :name, nil, data: {autocomplete_source: event_names_path}, :placeholder => 'Name of the event' %>
	</div>
</div>

<% if not logged_in?  %>
	<div class="clearform">
		<%= label_tag :email, "Email: " %>
		<div class="input">
			<%= text_field_tag :email, nil, :placeholder => 'Your email' %>
		</div>
	</div>
<% end %>

<div class="clearform">
	<div class="input">
		<%= submit_tag "Submit", :class => "button" %>
	</div>
</div>

<% end %>