<h1>Sign in:</h1>

<%= form_tag '/sessions/create' do %>
<div class="clearfix">
	<%= label_tag 'Email: ' %>
	<div class="input">
		<%= text_field_tag :email %>
	</div>
</div>
<div class="clearfix">
	<%= label_tag 'Password: ' %>
	<div class="input">
		<%= password_field_tag :password %>
	</div>
</div>
<!-- <div class="input"> --><p>
	<%= submit_tag 'Sign In', :class => "button"  %>
</p><!-- </div> -->
<% end %>

<div class="login">
	<h3>or <%= link_to "create an Account", new_user_url %></h3>
</div>