<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @race.name %>
</p>

<p>
  <b>City:</b>
  <%= @race.city %>
</p>

<p>
  <b>Type:</b>
  <%= @race.type %>
</p>

<p>
  <b>Registration on:</b>
  <%= @race.registration_on %>
</p>

<p>
  <b>Race on:</b>
  <%= @race.race_on %>
</p>

<p>
  <b>Size:</b>
  <%= @race.size %>
</p>


<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
