<%= form_for(@user), :url => { :action => "edit" } do |f| %>
	<div class="steps">
		Edit your password.
	</div>
	<div class="question">
		<div class="clearfix">
			<%= f.label :password %>
			<div class="input">
				<%= f.password_field :password %>
			</div>
		</div>
		<div class="clearfix">
			<%= f.label :password_confirmation, 'Confirm password'%>
			<div class="input">
				<%= f.password_field :password_confirmation %>
			</div>
		</div>
		<%= f.submit :class => "button" %>
	</div>
<% end %>