<div class="steps">
	<% if @user.questions.count > 0 %>
		<div>
			<h2>Your events:</h2>
			<ul>
				<% @user.questions.each do |s| %>
				<li id="<%= dom_id(s) %>"><%= s.name %> (created <%= time_ago_in_words(s.created_at.to_time) %> ago) <%= link_to "Delete", user_question_delete_url(s), :method => :delete %></li>
				  <ul>
				    <% s.answers.each do |a| %>
				      <li>
				        >><%= a.event.name %>
				        <ul>
				          <% a.event.event_dates.each do |ed| %>
                    <li><%= ed.name %></li>
                    <li><%= ed.date %></li>                    
				          <% end %>
				        </ul>
				      </li>
				    <% end %>
				  </ul>
				<% end %>
			</ul>
		</div>
	<% else %>
		Your events will show here. You are not watching any events at this time.
	<% end %>
</div>
<div class="question">
	<h2>Add a new event:</h2>
	<%= render 'questions/search' %>
</div>