		<h2>Hi <%= @user.first_name %>!</h2>
		
		<div class="login">
		<h3><%= render :partial => "devise/shared/links" %></h3>
		</div>
	</div>
</div>
<div class="box">
	<div class="inside_box">
		<h2>Add a new event:</h2>
		<%= render 'questions/search' %>

		<% if @user.questions.count > 0 %>
			</div>
		</div>
			<div class="box">
				<div class="inside_box">
					<div class="user-searches">
						<h2>Your events:</h2>
						<ul>
						<% @user.questions.each do |s| %>
							<li id="<%= dom_id(s) %>"><%= s.name %> (created <%= time_ago_in_words(s.created_at.to_time) %> ago) <%= link_to "Delete", user_question_delete_url(s), :method => :delete %></li>
						<% end %>
						</ul>
					</div>
		<% end %>