<h1>Edit Event Dates for "<%= @event.name %>"</h1>

<%= form_for @event_date do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %><br />
  
  <%= form.label :date %>
  <%= form.date_select :date %><br />
  
  <%= form.submit %>
  
<% end %>


