<%= link_to "Advanced", '', :id => "show-advanced-link" %>
<div id="advanced-search">
	<p>
	<%= label_tag :city %>
	<%= select_tag :city , options_for_select(get_cities) %>
	</p>

	<p>
	<%= label_tag :start %>
	<%= date_select :race, :start %>
	</p>
	<p>
	<%= label_tag :end %>
	<%= date_select :race, :end %>
	</p>
	<p>
	<%= label_tag :size %>
	<%= select_tag :size, options_for_select(get_sizes) %>
	</p>
	<p>
	<%= label_tag :category %>
	<%= select_tag :category, options_for_select(get_categories) %>
	</p>
</div>