<% if @user and @user.errors.any? %>
	<div id="error_explanation">
		<%= pluralize(@user.errors.count, "error") %> prohibited this race from being saved:
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_tag user_searches_path, :id => "user_search" do %>
<%= label_tag :name, "Race: " %>
<%= text_field_tag :name, 'Enter your race here' %><!-- , params[:name] -->

<% if not logged_in?  %>
	<div id="user-email">
		<%= label_tag :email, "Email: " %>
		<%= text_field_tag :email, 'Enter your email here' %>
		<!-- <span class="help-text">Email Required</span> -->
	</div>
<% end %>
<div class="tellmewhen">
	<p><%= submit_tag "Tell Me When", :id => "commit" %></p>
</div>

<!-- Advanced search was here -->

<% end %>