<!DOCTYPE html>
<html>
<head>
  <title>uTellmewhen</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller.action_name %>">
<div class='container'>
	<!-- <div id="notice"><%= notice %></div> -->
	<%= yield %>	
  		
	<footer>
		<p>Questions? Email the team at <%= mail_to "hi@utellmewhen.com" %>, or follow us on Twitter <%= link_to "@utellmewhen", "http://www.twitter.com/#!/utellmewhen" %>.</p>
	</footer>

  	<%= render "shared/getsatisfaction" %>
  	<%= render "shared/googleanalytics" %>

</body>
</html>