<!DOCTYPE html>
<html>
<head>
  <title>uTellmewhen</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller.action_name %>">
	<div class='container'>
  <!-- <div id="container">
    <div id="header">
      <div class="topbar">
        <div class="fill">
          <div class="container">
            <a class="brand" href="/">uTellmewhen</a>
            <ul class="nav">
            </ul>
 				<div class="login">
      		<% if logged_in? %>
		        <h3>Hello, <%= current_user.first_name %>!</h3>
		       <%= link_to "My Profile", user_url(current_user) %> |
		          <%= link_to "Sign Out", sessions_destroy_url, :method => :delete %>
		      <% else %>
		      	<%= link_to "Sign In!", new_session_url %>
		          | <%= link_to "Create an Account", new_user_url %>
		      <% end %>
				</div>
          </div>
        </div>
      </div>
    </div>
	<div class="clear"></div>
  </div>

  <div class='container'>
    
        <div id="notice"><%= notice %></div> -->
    		
    		<%= yield %>	
  		
    	<footer>
           <p>Questions? Email the team at <%= mail_to "hi@utellmewhen.com" %>, or follow us on Twitter <%= link_to "@utellmewhen", "http://www.twitter.com/#!/utellmewhen" %>.</p>
         </footer>

<!--  </div>
</div> -->

  <%= render "shared/zendesk" %>
  <%= render "shared/googleanalytics" %>

</body>
</html>
